<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buxiubianfu.IME"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.buxiubianfu.IME.StartService"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".IME"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="com.buxiubianfu.action.INPUT" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <receiver
            android:name=".OlympicsReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.kaopu.download.kernel.DownloadService"
            android:process=":download_server" />
        <service android:name="com.buxiubianfu.IME.UpgradeService" >
            <intent-filter>
                <action android:name="com.ugame.updagrade.AIDL.ACTION" />
            </intent-filter>
        </service>
    </application>

</manifest>